body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Libre Baskerville', serif;
}

.owl-theme .owl-next {
    right: -5px;
    top: 19%;
    position: absolute;
}

.owl-theme .owl-prev {
    left: -5px;
    top: 19%;
    position: absolute;
}

.owl-theme .owl-item img {
    width: 83px !important;
    margin: auto auto 10px auto;
}